<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>HW17.testNg</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>compareString</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>elementFindArray</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>compareWholeNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>compareEqualStringValues</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>compareRandomInt</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
