<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b27b69">  <td>20/03/10 23:59:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNg.compareEqualStringValues()[pri:0, instance:HW17.testNg@61ca2dfa]">compareEqualStringValues</td> 
  <td>main@1268959798</td>   <td></td> </tr>
<tr bgcolor="b27b69">  <td>20/03/10 23:59:49</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNg.compareRandomInt()[pri:0, instance:HW17.testNg@61ca2dfa]">compareRandomInt</td> 
  <td>main@1268959798</td>   <td></td> </tr>
<tr bgcolor="b27b69">  <td>20/03/10 23:59:49</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNg.compareString()[pri:0, instance:HW17.testNg@61ca2dfa]">compareString</td> 
  <td>main@1268959798</td>   <td></td> </tr>
<tr bgcolor="b27b69">  <td>20/03/10 23:59:49</td>   <td>168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNg.compareWholeNumber()[pri:0, instance:HW17.testNg@61ca2dfa]">compareWholeNumber</td> 
  <td>main@1268959798</td>   <td></td> </tr>
<tr bgcolor="b27b69">  <td>20/03/10 23:59:49</td>   <td>170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNg.elementFindArray()[pri:0, instance:HW17.testNg@61ca2dfa]">elementFindArray</td> 
  <td>main@1268959798</td>   <td></td> </tr>
</table>
